<div class="layout">
    <div class="nav">
        <div>
            <h1>Logo</h1>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>Produt</li>
                <li>Service</li>
                <li>Contact</li>
            </ul>
        </div>
        <div>Logout</div>
    </div>



    <div class="form-lay">
        <form action="">
            <div class="form-field">
                <label for="">Name</label>
                <input type="text" name="" id="">
            </div>

            <div class="form-field">
                <label for="">Name</label>
                <input type="text" name="" id="">
            </div>
            <div class="form-field">
                <label for="">Name</label>
                <input type="text" name="" id="">
            </div>
            <div class="form-field">
                <label for="">Name</label>
                <input type="text" name="" id="">
            </div>
            <div class="form-field">
                <label for="">Name</label>
                <input type="text" name="" id="">
            </div>


        </form>
    </div>

</div>